:root {
    --bgcolor: #f0f0f0;
    --bgcolor2: rgb(247, 247, 247);
    --navcolor: #f0f0f0dc;
    --color1: #d90429;
    --color2: #1b1b1b;
    --card: white;
    --font: 'Poppins', sans-serif;
}

.dark-theme {
    --bgcolor: #1b1b1b;
    --bgcolor2: #2b2b2b;
    --navcolor: #1b1b1bce;
    --color2: #f0f0f0;
}

/*
.project-card{
    background-color: var(--card);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    flex: 49%;
    min-height: 500px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.project-card .card-img img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.project-card .card-info{
    padding: 1em .7em;

    h4{
        font-size: clamp(22px, 25px, 28px);
        margin-bottom: 8px;
    }
    p{
        color: var(--color2);
        font-size: 0.9rem;
        margin-bottom: 1em;
        overflow-y: auto;
    }
    p::-webkit-scrollbar {
        width: 5px; /* Ancho del scrollbar 
    }
    
    p::-webkit-scrollbar-thumb {
        background-color: #810016; /* Color del pulgar 
        border-radius: 6px; /* Bordes redondeados del pulgar 
        cursor: pointer;
    }
}

.card-info .card-stack{
    display: flex;
    gap: 5px;
    img{
        width: 25px; 
        max-width: 65px; 
        max-height: 65px; 
        min-height: 30px; 
    }
}
.card-btn-container{
    padding: 1em;
}
.card-btn{
    display: block;
    padding: 1em;
    border: 1px solid #d90429;
    color: #d90429;
    width: 40%;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;

    &:hover{
        background-color: #d90429;
        color: white;
    }
}
*/


.card {
    margin: 0 auto;
    height: 500px;
    width: 100%;
    max-width: 750px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;


    .info,
    .card-info-hidden {
        padding: 1em;
    }

    .info {
        color: #1b1b1b;
        padding: 22px;
        border-radius: 0 0 12px 12px;

        h4 {
            font-size: clamp(22px, 25px, 28px);
            margin-bottom: 8px;
        }
        .tech-stack{
            display: inline-block;
            /*background-color: var(--bgcolor);*/
            background-color: var(--navcolor);
            backdrop-filter: blur(5px);
            color: var(--color2);
            padding: 4px 8px;   
            border-radius: 5px;
            margin-right: 5px;
            font-size: 0.7rem;
            cursor: default;
        }
    }

    .card-info-hidden {
        background-color: var(--bgcolor2);
        color: var(--color2);
        width: 100%;
        display: none;
        transition: all 0.3s ease-in-out;
        animation: fadeIn 0.3s ease-in-out;
        cursor: default;

        h4 {
            font-size: clamp(22px, 25px, 28px);
            margin-bottom: 8px;
        }

        .card-stack {
            margin-top: 15px;
            display: flex;
            gap: 5px;

            img {
                width: 28px;
                height: 28px;
                object-fit: cover;
            }
        }

        .card-btn-container {
            border-top: 1px solid rgba(126, 126, 126, 0.158);
            padding: 1em 0;
            margin-top: 1em;
        }

        .card-btn {
            display: block;
            padding: 6px;
            border: 1px solid #d90429;
            color: #d90429;
            width: 40%;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;

            &:hover {
                background-color: #d90429;
                color: white;
            }
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.card-bg-active {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.438);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.card-bg {
    width: auto;
    height: auto;

}

.active {
    width: 70%;
    height: 600px;
    
    .info{
        padding: 2em;
    }

    .card-info-hidden {
        display: block;
        animation: info 0.5s ease-in-out;
    }
}


@keyframes fadeIn {
    from {
        scale: 0.9;
    }

    to {
        scale: 1;
    }

}

@keyframes info {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



@media screen and (max-width: 900px) {
    .card-info .card-stack {
        justify-content: center;
    }

    .card-btn {
        width: 100%;
    }
}