@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --bgcolor: #f8f9fa;
    --bgcolor2: rgb(247, 247, 247);
    --navcolor: #f0f0f0dc;
    --textcolor: #5a5a5a;
    --color1: #d90429;
    --color2: #1b1b1b;
    --card: white;
    --font: 'Poppins', sans-serif;
}
.dark-theme{
    --bgcolor: #1b1b1b;
    --bgcolor2: #2b2b2b;
    --navcolor: #1b1b1bce;
    --color2: #f0f0f0;
    --textcolor: #757575;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}
html{scroll-behavior: smooth;}
body{
    transition: .2s background;
    background-color: var(--bgcolor);
    position: relative;
    color: var(--color2);
    max-width: 1900px;
    margin: 0 auto;
    font-weight: 300;
}

header{position: sticky; top: 0; z-index: 3;}
nav{
    z-index: 3;
    display: flex;
    justify-content: space-between;
    background-color: var(--navcolor);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 70%;
    max-width: 900px;
    margin: 5px auto;
    padding: .2em 1.5em;
    border-radius: 30px;
    align-items: center;
    img{width: 50px;}
    .tags a{
        color: var(--color2);
        text-decoration: none;
        font-weight: 500;
        padding: 10px;
    }
    .tags a:hover{color: var(--color1);}

    .theme{
        padding: 5px;
        width: 50px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        label{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        input{
            display: none;
        }
    }
    .theme img {
        width: 80%;
        object-fit: contain;
        cursor: pointer;
    }

    .switch-theme{
        background-color: rgba(255, 0, 0, 0.158);
    }
    
    #burger-btn{display: none;}
    .burger{
        display: none;
        nav{
            transform: scale(0);
            transition: .2s all;
            flex-direction: column;
            text-align: center;
            a{
                padding: 1em; 
                display: block;  
                width: 100%;
                text-decoration: none;
                color: var(--color1);
            }
            position: absolute;
            right: 0;
            width: 50%;
            background-color: var(--bgcolor2);
        }
    }
}
.hero-intro{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    img{max-width: 40px; z-index: 1;}
    h1{font-size: 70px; span{color: var(--color1);}}
    h3{
        font-size: 20px;
        font-weight: 300;
        color: var(--textcolor);
    }
    h4{font-size: 30px;}
    p{font-size: 20px; margin-top: 30px;}
    .btns{
        margin: 2em 0;
        a{
            display: inline-block;
            padding: 1em;
            border: 1px solid var(--color1);
            border-radius: 5px;
            color: var(--color1);
            font-weight: 500;
            text-decoration: none;
            transition: .2s background ease;
            margin: 0 3px;
        }
        a:hover{background-color: var(--color1); color: white;}
    }
    .social a{
        text-decoration: none; 
        display: inline-block;
        transition: .3s all;
    }
    .social a:hover{transform: scale(1.10);}
}
.projects,
.about-me,
.stack,
.contact{
    /*width: 70%;
    margin: 0 auto;*/
    padding: 2em 3em;
    h2{
        font-size: 40px; 
        margin-top: 2.5em;
        margin-bottom: 1.5em;
    }
    /*h2::before{
        content: '<';
    }
    h2::after{
        content: '/>';
    }*/
}

.about-me{
    margin-bottom: 2.5em;
    h2{
        font-size: 24px;
    }
    p{
        width: 70%;
        color: var(--textcolor);
        font-size: 18px;
    }
    .btn{
        margin: 1.5em 0;
        display: inline-block;
        padding: .6em 1em;
        background-color: var(--color1);
        border-radius: 5px;
        color: white;
        text-decoration: none;
        font-weight: 500;
    }
}

.projects h2,
.stack h2,
.contact h2{
    text-align: center;
}
.projects{
    background-color: var(--bgcolor2);
    .pj-container{
        width: 100%;
        display: grid;
        align-items: stretch;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap: 10px;
        /*
        display: flex;
        gap: 5px;
        align-items: center;
        flex-wrap: wrap;
        
        .card{
            overflow: hidden;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            flex: 30%;
            min-height: 550px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            box-shadow: rgba(109, 8, 13, 0.2) 0 0 5px 1px;
            .content{
                background-color: rgba(14, 14, 14, 0.548);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                padding: 1em;
                color: white;
                h4{font-size: 20px; font-weight: 500;}
                p{
                    font-weight: 200; 
                    height: 100px; 
                    overflow-y: auto;
                }
                p::-webkit-scrollbar {
                    width: 5px; 
                }
                p::-webkit-scrollbar-thumb {
                    background-color: #810016; 
                    border-radius: 6px; 
                    cursor: pointer;
                }
            }
            .stack{margin: 5px 0;}
            .stack img{width: 20px; margin: 0 2px;}
            a{
                width: 50%;
                display: inline-block;
                text-decoration: none;
                color: var(--color1);
                border: 1px solid var(--color1);
                text-align: center;
                padding: 1px 15px;
            }
            a:hover{background-color: var(--color1); color: white;}
        }*/
    }
}

.stack-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 15px 5px;
    background-color: var(--bgcolor);

    .stack-card{
        width: auto;
        padding: 1em;
        border-radius: 5px;
        transition: .3s ease-in-out;
        img{
            width: 100%; 
            object-fit: contain; 
            height: 50px;
        }
        span{
            font-weight: 500;
        }

        &:hover{
            transform: translateY(-5px);
        }
    }
}

.contact{
    background-color: var(--bgcolor2);
    a{text-decoration: none;}
    .c-container{
        img{max-width: 40px;}
        p{width: 80%;}
        .tags{
            display: flex;
            gap: 5px;
            margin-top: 1em;
            .contact-card{
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1em;
                border-radius: 10px;
                gap: 10px;
                color: var(--color1);
                text-decoration: none;
                border: 1px solid;
                transition: .2s ease-in-out;

                &:hover{
                    transform: translateY(-2px);
                    box-shadow: 0 0 5px 1px #c0002031;
                }
            }
        }
    }
}
footer{
    background-color: #0f0f0f;
    color: white;
    text-align: center;
    padding: 1em;
    bottom: 0;
}
@media screen and (max-width: 900px) {
    body{
        text-align: center;
    }
    nav{
        .tags{
            display: none;
        }
        .burger{
            display: block;
        }
    }
    .projects{
        
        .pj-container{
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
            .card{
                flex: 50%;
                a{width: 100%;}
            }
        }
    }
    .about .about-container,
    .contact .c-container{
        grid-template-columns: 1fr;
        p{width: 100%; margin: 1.5em 0;}
    }
    .contact .c-container .tags{
        flex-wrap: wrap;
    }
}
